fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain-core
langgraph
langchain-groq
langchain-google-genai
langchain-cerebras
langchain-openrouter

langgraph-checkpoint-mongodb
langgraph-checkpoint-sqlite

langchain-chroma
langchain-tavily
tavily-python

langchain-pinecone

pypdf
docx2txt

sqlalchemy
