fastapi
uvicorn
python-multipart
python-dotenv
certifi

langchain-core
langgraph
langchain-groq
langchain-google-genai
langchain-cerebras
langchain-openrouter
langchain-nvidia-ai-endpoints

langgraph-checkpoint-mongodb
pymongo

pinecone
tavily-python

pypdf
docx2txt
yfinance

wikipedia-api
youtube-transcript-api
trafilatura
